<nav class="navbar navbar-dark bg-success">

<div class="opciones">
  <a [routerLink]="['/rutas/lunes']" [routerLinkActive]="['active']">Martes</a>
  <a [routerLink]="['/rutas/miercoles']" [routerLinkActive]="['active']">Miercoles</a>
  <a [routerLink]="['/rutas/jueves']" [routerLinkActive]="['active']">Jueves</a>
  <a [routerLink]="['/rutas/viernes']" [routerLinkActive]="['active']">Viernes</a>
  <a [routerLink]="['/rutas/martes']" [routerLinkActive]="['active']">Sabado</a>

</div>

</nav>
 
<div class="wrapgral">
  
<div *ngFor="let product of productList; let i = index"  id="usu" >
  <ng-template [ngIf] = "product.tipo == 'Viernes'"> 
    <div class="usuario2 bg-dark" >
      <div class="wrapdatos" [ngClass]="{'active2': selectedIdx == i}">

        <div class="nombre"> <p class="atender" (click)="selectItem(i)"><i class="fas fa-dot-circle"></i></p>{{product.name}}</div>
          <div><strong>{{product.direccion}}</strong> - <span class="locali">{{product.localidad}}</span>  </div>
          <div class="telefono">{{product.telefono}}</div>
           
          <div class="modalnuevo" id="usuarios" >
            <div class="usuario " (click)="ver(usuario, usuarioModal)">
                <p class="p-2">VER MAPA</p>
            </div>
          </div>   
        
          <ng-template #usuarioModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title pl-3"> #{{product.id}} {{product.name}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-3">
                  
              <div><strong>Bidon:</strong> {{product.ruta}}</div>
              <div><strong>Cantidad:</strong>  {{product.observacion}}</div>
              <div><strong>Prestado:</strong> {{product.pago}}</div>
              <img src={{product.img}} alt="">
                  
            </div>
            
            <div class="modal-footer"></div>
          </ng-template> 
      
          <pre>{{ closeResult }}</pre>
      </div>
         
     
    </div>

  </ng-template>  
</div>
</div>
