*{margin: 0; padding: 0;box-sizing: border-box;font-family: sans-serif;}
.modal-body img{width: 100%;height: 400px;} 
.wrapgral{
  margin-top: 10px;margin-left: 5px;
  display: flex;flex-wrap: wrap;
}  
.usuario2{
  color:white;border-right:5px solid green;  
  margin-bottom: 10px;padding: 10px; 
  width: 100%; 
}
 
.localidad{font-style: italic;}
.nombre{color:black;text-shadow: 1px 1px 1px white,-1px -1px 1px white;font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
 }
 /*----------------*/
 .conruteo{color:grey;font-style: italic;}
.telefono{ padding-right: 5px;}
/*------*/
.opciones{margin: auto;padding: 10px;}
.opciones a{color: rgb(238, 233, 227);margin-left: 10px;}
.active a {color: red;}
.active {background-color: black;  padding: 5px; } 
.active2{background-color: white;color: black;     }
/*-------------*/  
.usuario p{background-color:black; color: WHITE;
  width: 110px;cursor: pointer; 
 transform: translateY(2px)scale(0.9);
}
#usuarios{display: inline-block;}
/*-------------*/
.locali{font-style: italic;}
.atender{
  transform: translateX(-5px);
  display: inline-block;
  cursor: pointer;
   font-size: 24px;
}
/*---------------*/
.altoPrecio{color: red !important;font-size: 22px;margin-left: 100px;border-radius: 50%;
padding: 21px;
position: absolute; transform: translateX(180px);}
.fondoRojo{background-color: red;} 
.fondoAmarillo{background-color: yellow;} 

.wrapdatos{padding: 0 8px;width: 340px;}

@media (max-width: 800px) {
  .modal-body img{width: 100%;height: 330px;}
  .wrapgral{
    margin-top: 10px;margin-left: 5px;
    display: flex; flex-direction: column;
  } 
  
  .altoPrecio{transform: translateX(168px);}
} 

