html{
   scroll-behavior: smooth;
 }

.opciones{
   margin-right: 10px;
}
.opciones a{
   color: rgb(238, 233, 227);
}

.gotopbtn{
   position: fixed;
   width: 50px;
   height: 50px;
   background: #27ae60;
   bottom: 40px;
   right: 50px;
 opacity: 0.6;
   text-decoration: none;
   text-align: center;
   line-height: 50px;
   color: white;
   font-size: 22px;
   border-radius: 50%;
 }
 
.gotopbtn:hover{
   opacity: 1; 
} 
/*----------------------*/