<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">Menu</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="../../../assets/img/mono.png" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">Mono 
              <strong>del 3</strong>
            </span>
            <span class="user-role">Repartidor</span>
           <!--<span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>--> 
          </div>
        </div>

        <div class="sidebar-menu">
          <ul>
             <li>
              <a [routerLink]="['/sidebar']">
                <i class="fas fa-home"></i>
                <span class="ml-2" >Menu Principal</span>
                
              </a>
            </li>
            <li>
              <a routerLink="/sidebar/alerta">
                <i class="far fa-bell"></i>
                <span class="ml-2">Alertas</span>
              </a>
            </li>
            <li>
              <a routerLink="/sidebar/prestamos">
                <i class="fas fa-tasks"></i>
                <span class="ml-2">Prestamos</span>
              </a>
            </li>
            <li>
              <a routerLink="/editado">
                <i class="fas fa-user-plus"></i>
                <span class="ml-2">Cliente nuevo</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->

    </nav>
    <!-- sidebar-wrapper  -->
    
  </div>
  <!-- page-wrapper -->