<div class="card">
    <div class="card-body">
      <h6 class="text-center">
        Lista of Productos
      </h6>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <td>Nombre</td>
            
            <td>Precio</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList">
            <td class="nombre">{{product.name}}</td>
              
            <td >$ <span id="precioo"> {{product.price}}</span>   </td>
            <td>
              <a class="btn btn-secondary text-white" (click)="onEdit(product)">
                  <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                  <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
