<div class="card">
    <div class="card-body">
      <h6 class="text-center lista">
        CLIENTES
      </h6>
      <table class="table table-sm table-hover miform" id="bidones">
        <thead>
          <tr>
            <td><strong>#</strong></td>
            <td>Nombre</td>
           <!--  <td>Direccion</td>
            <td>Localidad</td>
            <td>Teléfono</td>
            <td>Día</td>-->
            <td>Prod</td>
            <td>Cant</td>
            <td>Pres</td>
            <td>S</td>
            <td>Precio</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList">
            <td class="id" *ngIf='product.id >= 1' 
              [style.background]="product.id >= 46 ? 'black' : 'grey'"
              [style.color]="product.id >= 46 ? 'white' : 'white'"> 
              
              0{{product.id}}
           
          </td>
         <td class="nombre">{{product.name}}</td>
           <!--  <td class="direccion">{{product.direccion}}</td>
            <td class="localidad">{{product.localidad}}</td>
            <td class="telefono">{{product.telefono}}</td>
            <td class="tipo">{{product.tipo}}</td>--> 

            <td class="ruta">{{product.ruta}}</td>
            <td class="cantidad">{{product.cantidad}}</td>
            <td class="prestado">{{product.prestado}}</td>
            <td >{{product.semaforo}}</td>
            <td >$ <span id="precioo"> {{product.price}}</span>   </td>

            <td>
              <a class="btn btn-secondary text-white mr-1" (click)="onEdit(product)">
                  <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                  <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
