#precioo{
    font-size: 1.1rem;color: red;
} 
.nombre{  font-size: 1.1rem;}
thead{font-size: 1.4rem;font-weight: 600;}

.lista{font-size:2rem;}

/*-------------*/
@media (max-width:776px){
   table{transform: translateX(-19px);}
       
  }

