<nav class="navbar navbar-dark bg-success">
  <div class="opciones">
      <a [routerLink]="['/rutas/lunes']" [routerLinkActive]="['active']">Martes</a>
      <a [routerLink]="['/rutas/miercoles']" [routerLinkActive]="['active']">Miercoles</a>
      <a [routerLink]="['/rutas/jueves']" [routerLinkActive]="['active']">Jueves</a>
      <a [routerLink]="['/rutas/viernes']" [routerLinkActive]="['active']">Viernes</a>
      <a [routerLink]="['/rutas/martes']" [routerLinkActive]="['active']">Sabado</a>
  </div>
  </nav>
     
<div class="wrapgral">
    <div *ngFor="let cliente of productList; let i = index"  id="usu" >
    
      <ng-template [ngIf] = "cliente.tipo == 'Miércoles'" > 
   
        <div class="wrapdatos">
          
            <div class="nombre"><p (click)="selectItem(i)"><a  [routerLink]="['/cliente',cliente.id]" >{{cliente.id}}</a> {{cliente.name}}</p></div>  
            <div class="mt-1"><strong>{{cliente.direccion}}</strong> - <span class="locali">{{cliente.localidad}}</span>  </div>
             
            <div class="modalnuevo" id="usuarios" >
                <div class="usuario " (click)="ver(usuario, usuarioModal)">
                    <p class="p-2"><i class="fa fa-eye"></i> Stock</p>
                </div>
            </div>   
            
            <ng-template #usuarioModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title pl-3"> #{{cliente.id}} {{cliente.name}} -  {{cliente.telefono}}</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body p-3">
                      
                  <div><strong>Producto:</strong> {{cliente.ruta}}</div>
                  <div><strong>Cantidad:</strong>  {{cliente.cantidad}}</div>
                  <div><strong>Prestado:</strong> {{cliente.prestado}}</div>
                 <!-- <img src={{product.img}} alt="">-->
                      
                </div>
                
                <div class="modal-footer"></div>
            </ng-template> 
          
            <pre>{{ closeResult }}</pre>
  
        </div>
         
      <a class="btn btn-secondary text-white mr-1 atendedor" (click)="onEdit(cliente)">
       <!--<i class="fas fa-sync"></i>--> <i class="fas fa-sign-in-alt"></i>
      </a>
      </ng-template>  
    </div>
</div>


<div class="row">
  <div class="col-lg-6">
    <app-product></app-product>
  </div>
  <div class="col-lg-6"></div>
</div>
    