<nav class="navbar navbar-dark bg-success">
<div class="opciones">
  <a [routerLink]="['/rutas/lunes']" [routerLinkActive]="['active']">Martes</a>
  <a [routerLink]="['/rutas/miercoles']" [routerLinkActive]="['active']">Miercoles</a>
  <a [routerLink]="['/rutas/jueves']" [routerLinkActive]="['active']">Jueves</a>
  <a [routerLink]="['/rutas/viernes']" [routerLinkActive]="['active']">Viernes</a>
  <a [routerLink]="['/rutas/martes']" [routerLinkActive]="['active']">Sabado</a>

</div>

</nav>
  

<router-outlet></router-outlet>
<!---------------------------------------->
<div class="card">
  <div class="card-body">
    <h6 class="text-center lista">
      CLIENTES
    </h6>
    <table class="table table-sm table-hover miform" id="bidones">
      <thead>
        <tr>
          <td><strong>#</strong></td>
          <td>Nombre</td>
         <!--  <td>Direccion</td>
          <td>Localidad</td>
          <td>Teléfono</td>
          <td>Día</td>-->
          <td>Bidon</td>
          <td>Cant</td>
          <td>Pres</td>
          <td>Precio</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
          <ng-template [ngIf] = "product.tipo == 'Miércoles'">

            <td class="id">  0{{product.id}}  </td>
            <td class="nombre">{{product.name}}</td>
              <!--  <td class="direccion">{{product.direccion}}</td>
               <td class="localidad">{{product.localidad}}</td>
               <td class="telefono">{{product.telefono}}</td>
               <td class="tipo">{{product.tipo}}</td>--> 
     
               <td class="ruta">{{product.ruta}}</td>
               <td class="observacion">{{product.observacion}}</td>
               <td class="pago">{{product.pago}}</td>
               <td >$ <span id="precioo"> {{product.price}}</span>   </td>
  </ng-template>  
          </tr>
      </tbody>
    </table>
  </div>
</div>  
