.modal-body img{width: 470px;height: 400px;} 

/*.usuario img{width: 110px;height: 100%;}*/

#usuarios{margin-top: 10px; 
  display: flex; flex-flow: row wrap;  
 
  } 

#usuarios .usuario{
   color:white;border: 2px solid white;
    cursor: pointer;   
}
/**-----------------*/
 
.localidad{
  font-style: italic;
}
 /*----------------*/
 .conruteo{
  color:grey;
  font-style: italic;
}
.telefono{
  text-align: right;
}
/*------*/
.opciones{
 margin: auto;
}
.opciones a{
color: rgb(238, 233, 227);
margin-left: 10px;
}
.active {
  background-color: black;  padding: 5px; 
  text-shadow: 1px 1px 1px red,
  -1px -1px 1px red;
}
.active a {
  color: red;
}
/*-----*/
#precioo{
  font-size: 1.1rem;color: red;
} 
.nombre{  font-size: 1.1rem;}
thead{font-size: 1.4rem;font-weight: 600;}

.lista{font-size:2rem;}
/*-------------*/
@media (max-width: 800px) {
  .modal-body img{width: 100%;height: 390px;}
  #usuarios .usuario{ width: 80%; }
  
#usuarios{
  margin-left: 2px;    
  } 
} 